<div class="mt-3 mb-5">
  <h1 class="text-shadow">
    DISCARDED Tiles (Game Progress)
  </h1>

  <% if @discarded.gameover? %>

    <div class="my-4 alert alert-danger text-center">
      <p>
        Too many <%= @discarded.gameover_reason %> have been lost! Your party is
        swallowed by the crushing darkness.
      </p>

      <b>GAMEOVER</b>
    </div>

    <div>
      <%= link_to 'Reset Game', root_path,
            class: 'btn w-100 btn-danger',
            data: {
              turbo_confirm: 'Are you sure? This will reset to a NEW game',
              turbo_method: :get
            }
      %>
    </div>

  <% else %>

    <%= form_with url: home_path, method: :get do |f| %>
      <% @game.to_h.each do |key, value| %>
        <%= f.hidden_field key, name: "setup[#{key}]", value: value %>
      <% end %>

      <div class="row">
        <div class="col">
          <%= f.label 'Starting', class: 'text-shadow' %>
          <%= f.number_field :starting_tiles,
                name: 'discarded[starting_tiles]',
                class: 'form-control',
                value: @discarded.starting_tiles || 0,
                min: 0
          %>
        </div>

        <div class="col">
          <%= f.label 'Gates', class: 'text-shadow' %>
          <%= f.number_field :gate_tiles,
                name: 'discarded[gate_tiles]',
                class: 'form-control',
                value: @discarded.gate_tiles || 0,
                min: 0
          %>
        </div>

        <div class="col">
          <%= f.label 'Straight', class: 'text-shadow' %>
          <%= f.number_field :straight_tiles,
                name: 'discarded[straight_tiles]',
                class: 'form-control',
                value: @discarded.straight_tiles || 0,
                min: 0
          %>
        </div>

        <div class="col">
          <%= f.label 'T-path', class: 'text-shadow' %>
          <%= f.number_field :t_tiles,
                name: 'discarded[t_tiles]',
                class: 'form-control',
                value: @discarded.t_tiles || 0,
                min: 0
          %>
        </div>

        <div class="col">
          <%= f.label 'Four-Way', class: 'text-shadow' %>
          <%= f.number_field :four_way_tiles,
                name: 'discarded[four_way_tiles]',
                class: 'form-control',
                value: @discarded.four_way_tiles || 0,
                min: 0
          %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-3">
          <%= f.label 'Keys', class: 'text-shadow' %>
          <%= f.number_field :key_tiles,
                name: 'discarded[key_tiles]',
                class: 'form-control',
                value: @discarded.key_tiles || 0,
                min: 0
          %>
        </div>

        <div class="col-1 text-center">
          <div class="invisible">.</div>
          <div>or</div>
        </div>

        <div class="col-3">
          <%= f.label 'Keepers', class: 'text-shadow' %>
          <%= f.number_field :keeper_tiles,
                name: 'discarded[keeper_tiles]',
                class: 'form-control',
                value: @discarded.keeper_tiles || 0,
                min: 0
          %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <%= f.label 'Wax Eaters', class: 'text-shadow' %>
          <%= f.number_field :wax_eater_tiles,
                name: 'discarded[wax_eater_tiles]',
                class: 'form-control',
                value: @discarded.wax_eater_tiles || 0,
                min: 0
          %>
        </div>

        <div class="col">
          <%= f.label 'Pit Fiends', class: 'text-shadow' %>
          <%= f.number_field :pit_fiend_tiles,
                name: 'discarded[pit_fiend_tiles]',
                class: 'form-control',
                value: @discarded.pit_fiend_tiles || 0,
                min: 0
          %>
        </div>

        <div class="col">
          <%= f.label 'Pathless', class: 'text-shadow' %>
          <%= f.number_field :pathless_tiles,
                name: 'discarded[pathless_tiles]',
                class: 'form-control',
                value: @discarded.pathless_tiles || 0,
                min: 0
          %>
        </div>

        <div class="col">
          <%= f.label 'Omens', class: 'text-shadow' %>
          <%= f.number_field :omen_tiles,
                name: 'discarded[omen_tiles]',
                class: 'form-control',
                value: @discarded.omen_tiles || 0,
                min: 0
          %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <%= f.submit 'Save', class: 'btn btn-primary btn-lg w-100' %>
        </div>
      </div>

    <% end %>

  <% end %>
</div>
