<% if @game.errors.any? %>
  <% @game.errors.each do |error| %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div><%= error %></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
<% end %>

<h2>Game Setup</h2>

<%= form_with url: home_path, method: :get do |f| %>
  <div class="row">
    <b>Base Tiles</b>

    <div class="col">
      <%= f.label 'Starting' %>
      <%= f.number_field :starting_tiles,
            name: 'setup[starting_tiles]',
            class: 'form-control',
            value: @game.starting_tiles || 4,
            min: 4,
            max: 5
      %>
    </div>

    <div class="col">
      <%= f.label 'Gates' %>
      <%= f.number_field :gate_tiles,
            name: 'setup[gate_tiles]',
            class: 'form-control',
            value: @game.gate_tiles || 4,
            readonly: true,
            style: "background-color: #e9ecef; opacity: 1;"
      %>
    </div>

    <div class="col">
      <%= f.label 'Straight' %>
      <%= f.number_field :straight_tiles,
            name: 'setup[straight_tiles]',
            class: 'form-control',
            value: @game.straight_tiles || 10
      %>
    </div>

    <div class="col">
      <%= f.label 'T-intersection' %>
      <%= f.number_field :t_tiles,
            name: 'setup[t_tiles]',
            class: 'form-control',
            value: @game.t_tiles || 32
      %>
    </div>

    <div class="col">
      <%= f.label 'Four-Way' %>
      <%= f.number_field :four_way_tiles,
            name: 'setup[four_way_tiles]',
            class: 'form-control',
            value: @game.four_way_tiles || 12
      %>
    </div>
  </div>

  <div class="row mt-3">
    <b>Key Tiles</b>

    <div class="col">
      <%= f.label 'Keys' %>
      <%= f.number_field :key_tiles,
            name: 'setup[key_tiles]',
            class: 'form-control',
            value: @game.key_tiles || 6,
            max: 8
      %>
    </div>

    <div class="col text-center">
      <div class="invisible">.</div>
      <div>or</div>
    </div>

    <div class="col">
      <%= f.label 'Keepers' %>
      <%= f.number_field :keeper_tiles,
            name: 'setup[keeper_tiles]',
            class: 'form-control',
            value: @game.keeper_tiles || 0,
            max: 8
      %>
    </div>
  </div>

  <div class="row mt-3">
    <b>Monster Tiles</b>

    <div class="col">
      <%= f.label 'Wax Eaters' %>
      <%= f.number_field :wax_eater_tiles,
            name: 'setup[wax_eater_tiles]',
            class: 'form-control',
            value: @game.wax_eater_tiles || 13
      %>
    </div>

    <div class="col">
      <%= f.label 'Pit Fiends' %>
      <%= f.number_field :pit_fiend_tiles,
            name: 'setup[pit_fiend_tiles]',
            class: 'form-control',
            value: @game.pit_fiend_tiles || 2,
            max: 3
      %>
    </div>

    <div class="col">
      <%= f.label 'Pathless' %>
      <%= f.number_field :pathless_tiles,
            name: 'setup[pathless_tiles]',
            class: 'form-control',
            value: @game.pathless_tiles || 2,
            max: 3
      %>
    </div>

    <div class="col">
      <%= f.label 'Omens (summon the Dirge)' %>
      <%= f.number_field :omen_tiles,
            name: 'setup[omen_tiles]',
            class: 'form-control',
            value: @game.omen_tiles || 2,
            max: 5
      %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <%= f.submit 'Save', class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
