  <h2>Game Setup</h2>

  <%= form_with url: home_path, method: :get do |f| %>
    <div class="row">
      <b>Base Tiles</b>

      <div class="col">
        <%= f.label 'Starting' %>
        <%= f.number_field :starting_tiles, class: 'form-control', value: params[:starting_tiles] || 4 %>
      </div>

      <div class="col">
        <%= f.label 'Gates' %>
        <%= f.number_field :gate_tiles, class: 'form-control', value: 4 %>
      </div>

      <div class="col">
        <%= f.label 'Straight' %>
        <%= f.number_field :straight_tiles, class: 'form-control', value: 10 %>
      </div>

      <div class="col">
        <%= f.label 'T-intersection' %>
        <%= f.number_field :t_tiles, class: 'form-control', value: 32 %>
      </div>

      <div class="col">
        <%= f.label 'Four-Way' %>
        <%= f.number_field :four_way_tiles, class: 'form-control', value: 12 %>
      </div>
    </div>

    <div class="row mt-3">
      <b>Key Tiles</b>

      <div class="col">
        <%= f.label 'Keys' %>
        <%= f.number_field :key_tiles, class: 'form-control', value: 6 %>
      </div>

      <div class="col text-center text-muted">
        <div class="invisible">.</div>
        <div>or</div>
      </div>

      <div class="col">
        <%= f.label 'Keepers' %>
        <%= f.number_field :keeper_tiles, class: 'form-control', value: 0 %>
      </div>
    </div>

    <div class="row mt-3">
      <b>Monster Tiles</b>

      <div class="col">
        <%= f.label 'Wax Eaters' %>
        <%= f.number_field :wax_eater_tiles, class: 'form-control', value: 13 %>
      </div>
      <div class="col">
        <%= f.label 'Pit Fiends' %>
        <%= f.number_field :pit_fiend_tiles, class: 'form-control', value: 2 %>
      </div>
      <div class="col">
        <%= f.label 'Pathless' %>
        <%= f.number_field :pathless_tiles, class: 'form-control', value: 2 %>
      </div>
      <div class="col">
        <%= f.label 'Omens (summon the Dirge)' %>
        <%= f.number_field :omen_tiles, class: 'form-control', value: 2 %>
      </div>
    </div>

    <% if @game_started %>
      <div class="row mt-5">
        <div class="col">
          <%= link_to 'Reset', root_path, class: 'btn btn-danger' %>
        </div>
      </div>
    <% else %>
      <div class="row mt-3">
        <div class="col">
          <%= f.submit 'Save', class: 'btn btn-secondary' %>
        </div>
      </div>
    <% end %>
  <% end %>
