<h3 class="text-shadow">
  Stats
</h3>

<table class="table my-table text-light">
  <thead>
    <th>Tile Type</th>
    <th>Remaining</th>
    <th>Remaining %</th>
  </thead>
  <% %w[safe_tiles monster_tiles total_tiles].each do |method| %>
    <tr>
      <td>
        <%= method.titleize %>
      </td>
      <td>
        <%= @stats.send("#{method}_left") %> / <%= @stats.send(method) %>
      </td>
      <td>
        <%= ((@stats.send("#{method}_left").to_f / @stats.send(method).to_f) * 100).round(2) %>%
      </td>
    </tr>
  <% end %>
</table>

<table class="table my-table text-light">
  <thead>
    <th class="w-25">Odds of drawing...</th>
    <th></th>
  </thead>

  <tr>
    <td>
      <b>a <span class="text-danger">monster</span> tile</b>
    </td>
    <td class="text-danger">
      <%= ((@stats.monster_tiles_left.to_f / @stats.total_tiles_left.to_f) * 100).round(2) %>%
    </td>
  </tr>

  <tr>
    <td>
      <b>a <span class="text-primary">safe</span> tile</b>
    </td>
    <td class="text-primary">
      <%= ((@stats.safe_tiles_left.to_f / @stats.total_tiles_left.to_f) * 100).round(2) %>%
    </td>
  </tr>

  <tr>
    <td>
      <b>a <span class="text-primary">key</span> or <span class="text-primary">keeper</span> tile</b>
    </td>
    <td class="text-primary">
      <%= ((@stats.key_tiles_left.to_f / @stats.total_tiles_left.to_f) * 100).round(2) %>%
    </td>
    <td></td>
  </tr>

  <tr>
    <td>
      <b>a <span class="text-primary">gate</span> tile</b>
    </td>
    <td class="text-primary">
      <%= ((@stats.gate_tiles_left.to_f / @stats.total_tiles_left.to_f) * 100).round(2) %>%
    </td>
  </tr>

</table>

<div class="row my-5">
  <div class="col">
    <%= link_to 'Reset Game', root_path,
          class: 'btn btn-danger btn-lg',
          data: {
            turbo_confirm: 'Are you sure? This will reset to a NEW game',
            turbo_method: :get
          }
    %>
  </div>
</div>

